################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CppMathematicalArt
/x64/Debug
/random_painter/x64/Debug
/table_cloths_flat/x64/Debug
